modules = ["nodejs-20", "web", "bash"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/iic-study-app: web"

[[workflows.workflow]]
name = "artifacts/iic-study-app: web"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=22698 BASE_PATH=/ pnpm --filter @workspace/iic-study-app run dev"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
